*{
    margin: 0;
    height: 0;
}
body
{    
    background-image: url("../IMG/bg.png"); 
    background-color: #AEC7A9;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

#Player
{
    position: absolute;
    top: 108.5px;
}

#Vida
{    
    font-weight: bold;
    font-size: 30px;
    width:auto;
    font-family: 'Courier New', Courier, monospace;
    top: 30px;
    color: lightcoral;
    color: #f08080;
}
#Player.sprite-jogando
{
    width: 100px;
    height: 49px;
    background-image: url("../IMG/Player.png");    
}
#Player.sprite-dead
{
    width: 100px;
    height: 49px;
    background-image: url("../IMG/DeadPlayer.png");
}


#Player.sprite-vitoria
{
    width: 100px;
    height: 55px;
    background-image: url("../IMG/PlayerVitoria.png");
}

#Mensagem
{
    animation: 2s AumentoDeTamanho;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    color: #67F0DB;
    font-family: "Bahnschrift", "Franklin Gothic Medium", 'Arial Narrow Bold', sans-serif;    

}

#BotaoMusica {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-top: auto;
    transition: 0.5s;
}
#BotaoMusica.Ligado
{
    background-image: url("../IMG/BotaoMusicaNormal.png");    
}

#BotaoMusica.Ligado:hover
{
    
    border: 2px solid #ffffff;
}


#BotaoMusica.Desligado
{
    background-image: url("../IMG/BotaoMusicaMudo.png");
}
#BotaoMusica.Desligado:hover
{
    border: 2px solid #ff7e7e;
}

.aSettings
{
    color: violet;
    font-size: 20px;
    text-align: right;

}

@keyframes AumentoDeTamanho {
    0%
    {
        font-size: 10px;
        text-align: center;
    }

    100%
    {
        font-size: 60px;
        text-align: center;
    }
}
